html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
  background-color: aquamarine;
  background-image: url(/images/circus-pattern.jpg);
  background-attachment: fixed;
  background-color: #F2E2CE;
  padding: 0px;
  margin: 10px;

  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;


}

header h1 {
  font-family: "Rock Salt", cursive;
  font-weight: 200;
  font-style: normal;
  color: #BF3124;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}


.wrapper {
  background: white;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 20px;
  background: transparent;
}

.wrapper>* {
  padding: 50px;
}

header {
  background: #66C4D9;
  grid-column: 1/13;
  grid-row: 1;
}

main {
  background: #BF3124;
  grid-column: 1/10;
  color: #F2E2CE;
}

nav {
  background: #F2E2CE;
  grid-column: 1/13;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav div.buttonRelative {
  background-color: #D99F59;
  width: 40%;
  padding: 70px;
  color: rgb(0, 0, 0);
  text-align: center;
  position: relative;
  z-index: 3;
  text-decoration: none;
  border-radius: 10px;
}

div.buttonRelative a {
  text-decoration: none;
}

div.buttonRelative a:hover {
  background-color: rgb(178, 142, 43);
}

nav div.buttonRelative2 {
  background-color: #D99F59;
  width: 40%;
  padding: 70px;
  color: rgb(0, 0, 0);
  text-align: center;
  position: relative;
  z-index: 3;
  text-decoration: none;
  border-radius: 10px;
}

div.buttonRelative2 a {
  text-decoration: none;
}

div.buttonRelative2 a:hover {
  background-color: rgb(178, 142, 43);
}

aside {
  background: #BF3124;
  grid-column: 10/13;
  grid-row: 3;
  color: #F2E2CE;
}

article {
  background-color: #F2E2CE;
  grid-column: 1/13;
  margin: 0 auto;
  grid-row: 4;
  overflow-wrap: break-word;
}


.bottom {
  background: #66C4D9;
  grid-column: 1/13;
  align-content: center;
  display: flex;
  justify-content: center;
  color: #BF3124;
}